html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(39, 42, 86);
  background: linear-gradient(
    0deg,
    rgba(39, 42, 86, 0.7133228291316527) 0%,
    rgba(39, 42, 86, 1) 68%,
    rgba(21, 23, 46, 1) 100%
  );
  color: #c8bfc3;
  font-family: "Roboto";
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color: black;
  color: #c8bfc3;
  outline: none;
}
a:visited {
  text-decoration: none;
  outline: none;
}
a:active,
a:focus,
li:focus,
li:active {
  outline: none !important;
  border: none !important;
  text-decoration: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

a,
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

p {
  margin: 0;
  padding: 0;
  color: #c8bfc3;
}

h1,
h2 {
  color: white;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-weight: 500;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

button {
  border: none;
  background: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 15px;
  left: 10px;
  right: 10px;
  /* width: calc(100% - 20px);
  max-width: 500px;
  margin: 0 10px; */
  height: 60px;
  border-radius: 8px;
  background-color: #0f0e0eeb;
  box-shadow: 1px 4px 6px 0px #0f0e0eeb;
}

input[type="search"] {
  background-color: #10011c;
  border: none;
  border-radius: 5px;
  padding: 14px 16px;
  outline: none;
  color: white;
  max-width: 550px;
  width: 100%;
  font-size: 14px;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg stroke="white" fill="white" stroke-width="0" version="1.1" viewBox="0 0 16 16" height="10px" width="10px" xmlns="http://www.w3.org/2000/svg"><path d="M15.854 12.854c-0-0-0-0-0-0l-4.854-4.854 4.854-4.854c0-0 0-0 0-0 0.052-0.052 0.090-0.113 0.114-0.178 0.066-0.178 0.028-0.386-0.114-0.529l-2.293-2.293c-0.143-0.143-0.351-0.181-0.529-0.114-0.065 0.024-0.126 0.062-0.178 0.114 0 0-0 0-0 0l-4.854 4.854-4.854-4.854c-0-0-0-0-0-0-0.052-0.052-0.113-0.090-0.178-0.114-0.178-0.066-0.386-0.029-0.529 0.114l-2.293 2.293c-0.143 0.143-0.181 0.351-0.114 0.529 0.024 0.065 0.062 0.126 0.114 0.178 0 0 0 0 0 0l4.854 4.854-4.854 4.854c-0 0-0 0-0 0-0.052 0.052-0.090 0.113-0.114 0.178-0.066 0.178-0.029 0.386 0.114 0.529l2.293 2.293c0.143 0.143 0.351 0.181 0.529 0.114 0.065-0.024 0.126-0.062 0.178-0.114 0-0 0-0 0-0l4.854-4.854 4.854 4.854c0 0 0 0 0 0 0.052 0.052 0.113 0.090 0.178 0.114 0.178 0.066 0.386 0.029 0.529-0.114l2.293-2.293c0.143-0.143 0.181-0.351 0.114-0.529-0.024-0.065-0.062-0.126-0.114-0.178z"></path></svg>');
  width: 10px;
  height: 10px;
}

.artistContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
  padding-bottom: 12px;
  padding-right: 16px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  padding-left: 16px;
}

.artistContainer::-webkit-scrollbar {
  display: none;
}

.artistItem {
  color: white;
  padding: 0px 12px;
  height: 80px;
  min-width: 100px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: #10011c;
}

.artistItem_selected {
  background-color: #a7a1f8;
  font-weight: 700;
}

.albumContainer {
  padding-left: 16px;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding-right: 16px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.albumContainer::-webkit-scrollbar {
  display: none;
}

.track_page {
  padding: 16px;
}

.track_album_hero {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.track_album_hero img {
  width: 200px;
  margin: auto;
  box-shadow: 0px -4px 12px 0px #10011ccc;
}
.track_album_hero div {
  padding: 16px 0;
}

.trackContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 120px;
  max-width: 750px;
}

.track {
  height: 40px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.track_selected {
  box-shadow: 1px 5px 5px 0px rgb(25 25 26 / 20%);
  background-color: rgb(132 123 221 / 19%);
}

.track_title {
  display: flex;
  align-items: center;
}

.playerAudioContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
